.error{
    background-color: #e74c3c;
    padding: 10px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    border-radius: 10px;
    position: absolute;
    top: 10px;
    max-width: 250px;
    width: 90vw;
    transform: translateY(-60px);
    transition: all 1s ease-in-out;
    z-index: 100;
}
.showError{
    transform: translateY(0px);
}