.sidebar{
    display: flex;
    width: 40%;
    background-color: #fff;
    flex-direction: column;
    max-width: 250px;
}
.sidebar__header{
    display: flex;
    background-color: #3498db;
    height: 60px;
    align-items: center;
    padding: 10px;
}
.sidebar__header img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid #fff;
}
.sidebar__profileName{
    margin-left: 5px;
    color: #fff;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
}

.sidebar__search{
    display: flex;
    padding: 10px;
    border: 1px solid #2980b9; 
    border-radius: 5px;
    margin: 5px;
}

.sidebar__searchInput{
    border-radius: 5px;
    width: 100%;
    margin-left: 5px;
    border: none;
    outline: none;
}

.sidebar__chatList{
    flex: 1;
    margin-top: 10px;
}
